<h1>Fichador</h1>
<p>This is a pure HMTL webpage.</p>

<%= link_to 'With some UJS sugar!', '#', data: { confirm: 'Do you want more magic?' } %>

<%= link_to 'Reloj de Fichar', clock_path %>

<small>madrid.rb edition</small>
